*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

:root {
  --box-size: 100px;
  --row-vertical-padding: 1px;
  --box-width: calc(var(--box-size) + calc(2 * var(--row-vertical-padding)));
  --box-height: calc(var(--box-size) + calc(2 * var(--row-vertical-padding)));
  --rows: 8;
  --cols: 7;
  --border-color: red;
}

.app {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.calendar-container {
  background: white;
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--box-height));
  gap: 1px;
  padding: 2px;
}

.row {
  background: white;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--box-width));
  gap: 1px;
  padding: var(--row-vertical-padding) 0;
}
.row.day-titles {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}
.day-title {
  background: black;
}
.day-title > p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on {
  /* background: white !important; */
}
.on-start {
  border: solid var(--border-color) 2px;
  border-right: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.on-end {
  border: solid var(--border-color) 2px;
  border-left: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.on-middle {
  border-top: solid var(--border-color) 2px;
  border-bottom: solid var(--border-color) 2px;
}

.on-start-and-end {
  border: solid var(--border-color) 2px;
  border-radius: 50%;
}

.off {
  /* background: red !important; */
}

.hover {
  background: yellow;
}

.FUCK {
  border: solid 10px hotpink;
}
