$clr-not-selected: hsla(240, 6%, 57%, 1);
$clr-not-selected-opaque: hsla(240, 6%, 57%, 0.7);

$clr-selected: hsla(240, 100%, 98%, 1);
$background-surface: hsla(240, 12%, 7%, 1);
$background-primary: hsla(0, 0%, 0%, 1);

// ==============================================
// Chrome and Safari
::-webkit-scrollbar {
  width: 2vw;
  background: transparent; // rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background: transparent; // rgba(0, 0, 0, 0); //$color-1;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: transparent; //$background-primary; //$clr-not-selected; //$color-2;
  border-radius: 100vw;
  border: solid 0.4vw $clr-not-selected;

  opacity: 0;

  transition: opacity 900ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background: $clr-not-selected-opaque;
}
// ==============================================

// Firefox
@supports (scrollbar-color: red blue) {
  * {
    // scrollbar-color: <thumb> <track>
    scrollbar-color: $clr-not-selected transparent;
    scrollbar-width: thin;
  }
}
