.content {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.pseudo_hover {
  & {
    position: relative;
  }

  &:hover {
    transform: translateY(-0.35em) scale(1.02);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 0.75rem 2rem -0.5em rgba(0, 0, 0, 0.3);
    // box-shadow: 20px 20px 2rem 1rem rgba(255, 0, 0, 0.9);
    // 0. (optional) Inset (on top of background, under content)
    //  -Can be used to appear as if a hole is in the page.
    // 1. (required) Horizontal offset
    // 2. (required) Vertical offset
    // 3. (optional) Blur radius
    // 4. (optional) Spread (how far are we going before we applythe blur)
    //  -Negative spread is often used.
    // 5. (optional) Color (default matches the color property)
  }

  &:hover::after {
    opacity: 1;
  }
}
