*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --calendar-width: 400px;
  --calendar-height: 400px;
  /* --box-width: 200px; */
  /* --box-height: 200px; */
  --rows: 3;
  --cols: 3;
}

.app {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.calendar-container {
  background: gray;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 1px;
  height: var(--calendar-height);
  width: var(--calendar-width);
  padding: 2px;
}

.calendar-container > .row {
  background: gray;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1px;
}

.calendar-container > .row > .col {
  background: rgba(0, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.on {
  background: white !important;
}
.on-start {
  border: solid yellow 2px;
  border-right: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.on-end {
  border: solid yellow 2px;
  border-left: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.on-middle {
  /* border: solid yellow 2px; */
  /* border-left: none; */
  /* border-top-right-radius: 50%; */
  /* border-bottom-right-radius: 50%; */
  border-top: solid yellow 2px;
  border-bottom: solid yellow 2px;
}

.off {
  background: black !important;
}
