*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --calendar-width: 400px;
  --calendar-height: 400px;
  /* --box-width: 200px; */
  /* --box-height: 200px; */
  --rows: 2;
  --cols: 2;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background: yellow;
}

.calendar-container {
  background: red;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 1px;
  height: var(--calendar-height);
  width: var(--calendar-width);
}

.calendar-container > .row {
  background: blue;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1px;
}

.calendar-container > .row > .col {
  background: rgba(0, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.on {
  background: red !important;
}
.off {
  background: green !important;
}
