.modal {
  z-index: 10;
  position: absolute;
  background: darkorchid;
  height: 100px;
  width: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  display: grid;
  place-items: center;
  opacity: 0;
}

.hide {
  display: none;
}
