$navbar-height: 100px;
$footer-height: 100px;

// ==============================================

html {
  box-sizing: border-box;
}

// ==============================================

*,
*:before,
*after {
  box-sizing: inherit;
}

// ==============================================

body {
  background: hotpink;
  height: 100vh;

  #root {
    height: 100%;
    display: grid;
    grid-template-rows:
      $navbar-height
      1fr
      $footer-height;
    grid-template-areas:
      'nav'
      'main'
      'footer';

    nav {
      grid-area: nav;
      background: darkorchid;
    }

    main {
      grid-area: main;
      background: deepskyblue;
    }

    footer {
      grid-area: footer;
      background: darkorange;
    }
  }
}
