html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2em;
}

::-webkit-scrollbar-track {
  background: hsl(120 50% 50% / 1);
}

::-webkit-scrollbar-thumb {
  background: hsl(120 100% 20% / 1);
}
